<div
  style="position: fixed;width: 100vw;height: 80vh;display: flex;align-items: center;justify-content: center"
>
  <ngx-file-picker
    #uploader
    [uploadType]="'multi'"
    [adapter]="adapter"
    [enableCropper]="false"
    (uploadSuccess)="onUploadSuccess($event)"
    (removeSuccess)="onRemoveSuccess($event)"
    [showeDragDropZone]="true"
    [showPreviewContainer]="true"
    [accept]="'image/*'"
    (fileAdded)="onFileAdded($event)"
  >
  </ngx-file-picker>
  <!-- <button (click)="removeFile()">Remove First File</button> -->
</div>

<ng-template
  #itemTemplate
  let-fileItem="fileItem"
  let-uploadProgress="uploadProgress"
>
  <p>{{ fileItem.file.size }}</p>
  <p>{{ fileItem.fileName }}</p>
  <p>{{ uploadProgress }}</p>
  <button (click)="uploader.removeFile(fileItem)">Remove</button>
</ng-template>
